In [3]:
#Scope of Variable in python

age = 27 #global Variable

def Sum(*num):
    total = 0   #Local variable
    for i in num :
        total += i
    print("Sum of Varaible :" ,  total )

In [5]:
Sum(25,23,22)

print("Global variable : " ,age)
print("Local Variable : " , total) #name 'total' is not defined

Sum of Varaible : 70
Global variable :  27

NameError: name 'total' is not defined

In [6]:
g_variable = "Vishal"

def name():
    print('Student name is : ' , g_variable)

In [7]:
name()

Student name is :  Vishal

In [8]:
glo_id = 101

def fun1():
    print("Value of 1st Function :" , glo_id)
    
def fun2():
    glo_id = 105
    print("Value of 2ds Function :" , glo_id)
    
def fun3():
    print("Value of 3rd Function :" , glo_id)

In [9]:
fun1()
fun2()
fun3()

Value of 1st Function : 101
Value of 2ds Function : 105
Value of 3rd Function : 101

In [10]:
glo_id = 101

def fun1():
    print("Value of 1st Function :" , glo_id)
    
def fun2():
    global glo_id
    glo_id = 105
    print("Value of 2ds Function :" , glo_id)
    
def fun3():
    print("Value of 3rd Function :" , glo_id)

In [11]:
fun1()
fun2()
fun3()

Value of 1st Function : 101
Value of 2ds Function : 105
Value of 3rd Function : 105

In [19]:
#Recursive Function:

#user input : 10 :--> 10/8/6/4/2

def evenNum(num):
    print(num)
    if num%2 != 0 :
        print("Please enter valid even Number ")
    elif num == 2:
        return num
    else :
        return evenNum(num-2)

In [20]:
evenNum(11)

11
Please enter valid even Number

In [21]:
#Lambda Function :----> function will not have name


#simple function 

def double(x):
    return x*2

In [22]:
double(25)

50

In [32]:
double = lambda x : x*2

#cube = lambda x : x*x*x # 2 :---> 2x2x2 = 8

avg = lambda x,y,z : (x+y+z)/3

In [30]:
double(25)
cube(3)
avg(10,12,13)

11.666666666666666

In [31]:
def Go(x , value):
    return 6+ x(value) # 6 + 8 =14

In [35]:
Go(lambda x : x*x*x,3)

33

In [37]:
a = 25
b = 25

print("Add of A :" , id(a))
print("Add of B :" , id(b))

print()

b = "Vishal"
print("Add of B :" , id(b))

Add of A : 140732084164136
Add of B : 140732084164136

Add of B : 3013945991792