In [ ]:
"""
Dictionary:-->

#Create
# Access
# Edit
# Add
# Delete
# Operations
# Functions

-------------------------------------

1.Dic has no indexing
2.It is Mutable Data type
3.Key-->Immutable & values---> Mutable
4.key should be unique

Mutable Data Type : --> list/set/Dict

Immutable :--> string/tuple/int/float/complex

Q)Diff btw list/set/dict/tuple



"""

In [3]:
#Create

D1 = {} #empty Dict

print(type(D1))

D2 = {'name':'vishal','Gender':'M','ID':101}

print(D2)

D3 = {'name':'Ajay','Dept':'Com Sc','Age':22,'Marks':{'M1':68,'M2':74,'M3':65}}

print(D3)

<class 'dict'>
{'name': 'vishal', 'Gender': 'M', 'ID': 101}
{'name': 'Ajay', 'Dept': 'Com Sc', 'Age': 22, 'Marks': {'M1': 68, 'M2': 74, 'M3': 65}}

In [10]:
## Access :--> Dic has no indexing

D2 = {'name':'vishal','Gender':'M','ID':101}


D3 = {'name':'Ajay','Dept':'Com Sc','Age':22,'Marks':{'M1':68,'M2':74,'M3':65}}

#print(D2[0])

print("Student Name is : " ,D2['name'])

print("Student Marks in M2 : " , D3['Marks']['M2'])

Student Name is :  vishal
Student Marks in M2 :  74

In [19]:
#2.It is Mutable Data type : Edit & Add

#Edit
D3 = {'name':'Ajay','Dept':'Com Sc','Age':22,'Marks':{'M1':68,'M2':74,'M3':65}}

D3['name'] = 'Govind'

print(D3)

D3['Marks']['M3'] = 69

print(D3)

#Add
D2 = {'name':'vishal','Gender':'M','ID':101}

D2['City'] = 'Pune' 

print(D2)


D3 = {'name':'Ajay','Dept':'Com Sc','Age':22,'Marks':{'M1':68,'M2':74,'M3':65}}

D3['Marks']['Chem'] = 78

print(D3)

{'name': 'Govind', 'Dept': 'Com Sc', 'Age': 22, 'Marks': {'M1': 68, 'M2': 74, 'M3': 65}}
{'name': 'Govind', 'Dept': 'Com Sc', 'Age': 22, 'Marks': {'M1': 68, 'M2': 74, 'M3': 69}}
{'name': 'vishal', 'Gender': 'M', 'ID': 101, 'City': 'Pune'}
{'name': 'Ajay', 'Dept': 'Com Sc', 'Age': 22, 'Marks': {'M1': 68, 'M2': 74, 'M3': 65, 'Chem': 78}}

In [20]:
# Delete

del(D3['Marks'])

print(D3)

{'name': 'Ajay', 'Dept': 'Com Sc', 'Age': 22}

In [21]:
#Operations

d1 = {'Name':'Vishal'}
d2 = {'age': 28}

print(d1+d2) #unsupported operand type(s) for +: 'dict' and 'dict'b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [25]:
 #Functions : --> max / min / sorted / len
    
D3 = {'name':'Ajay','Dept':'Com Sc','Age':22,'Marks':{'M1':68,'M2':74,'M3':65}}

print("Len of D3 :" ,  len(D3))
print("Max :" , max(D3) )
print("Min :" , min(D3) )
print("Sorted:" , sorted(D3) )

Len of D3 : 4
Max : name
Min : Age
Sorted: ['Age', 'Dept', 'Marks', 'name']

In [27]:
D3.values()
D3.keys()

dict_keys(['name', 'Dept', 'Age', 'Marks'])