In [8]:
#Range function

L1 = [1,2,3,4,5]

print("Simple List : " ,L1)

L2 = list(range(1,10))
print("Using Range Function : " ,L2)

L3 = list(range(15))

print(L3)

L4 = list(range(1,15,3))
print(L4)

Simple List :  [1, 2, 3, 4, 5]
Using Range Function :  [1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 4, 7, 10, 13]

# For Loop

In [9]:
for i in range(1,6):
    print("Hello All")

Hello All
Hello All
Hello All
Hello All
Hello All

In [10]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range (1,11):
    print(4*i)

4
8
12
16
20
24
28
32
36
40

In [12]:
num = int(input("Enter Number :"))

for i in range (1,11):
    print(num*i)

Enter Number :7
7
14
21
28
35
42
49
56
63
70

In [13]:
total = 0

for i in range(1,11):
    total += i
    
print('Sum of range from 1 to 10 is : ' , total)

Sum of range from 1 to 10 is :  55

In [14]:
sname = ["Vishal","Ajay","Anuja","Shital"]

for i in sname:
    print("Welcome " , i)

Welcome  Vishal
Welcome  Ajay
Welcome  Anuja
Welcome  Shital

# Nested For Loop

In [23]:
for i in range(1,4):
    for j in range (1,4):
        print("*" , end =" ")
    print()

* * *
* * *
* * *

In [24]:
for i in range(1,4):
    for j in range(1,4):
        print(i , end=" ")
    print()

1 1 1
2 2 2
3 3 3

In [25]:
for i in range(1,4):
    for j in range(1,4):
        print(j , end=" ")
    print()

1 2 3
1 2 3
1 2 3

In [ ]:
"""
Patterns :

1. 

*
* *
* * *
* * * *

2.
1
1 2
1 2 3
1 2 3 4

3.
1
2 2
3 3 3
4 4 4 4
"""