In [ ]:
"""
String :-->

1.Creating 
2.Accessing 
3.Adding Char
4.Editing String
5.Deleting String
6.Operators on String
7.String Function


"""

In [ ]:
# int / string / float : list / tuple / set / dict

In [2]:
#1.Creating 

s1 = 'EduTECH Warje'

s2= "EduTECH Warje"

s3 = """EduTECH Warje"""

print(s1,s2,s3 , sep ='/')

EduTECH Warje/EduTECH Warje/EduTECH Warje

In [13]:
#2.Accessing 


name = "Vishal"
#       012345
#          

#Postive Indexing

print("1st Chart of String Name : " , name[0])

print("2nd Char of String Name :" , name[2])

#Negative Indexing
print("Using Negative Indexing :" , name[-1])
print("Using Negative Indexing :" , name[-3])

#Slicing

info = "Welcome to EduTECH World of EduCATION"

print("using Slicing :" , info[0:7])
print("using Slicing :" , info[11:18])

print("Using Negative Slicing:" , info[:-1:-10])

1st Chart of String Name :  V
2nd Char of String Name : s
Using Negative Indexing : l
Using Negative Indexing : h
using Slicing : Welcome
using Slicing : EduTECH
Using Negative Slicing:

In [16]:
#String & Tuple are the Immunatble Data Type
#3.Adding Char

s1 = "Vishal"

#s1.add("Dhayagude") #'str' object has no attribute 'add'

#4.Editing String
#s1[0] = "B" #'str' object does not support item assignment

s1 = "Vishal Dhayagude"

In [19]:
#5.Deleting String

s1 = "EduTECH"

#del(s1)

del(s1[0]) #'str' object doesn't support item deletion


print(s1)#name 's1' is not defined

TypeError: 'str' object doesn't support item deletion

In [34]:
#6.Operators on String

#Arithmatic : + & *

print("EduTECH " + "Warje")
print("***"  * 10)

#Relational : >,<,==,<=,>=

s1 = "Pune"
s2 = "Mumbai"

print(s1==s2)
print(s1>s2)

#Logical : and & or

"""

empty String =  False
String with value = True

"""

"" and "Vishal" #both condition should be True for and operator : ---> True

"" or "Vishal" #both condition should be False for or operator  :---> False


#Membeship Operator: in & not in

info = "Welcome to EduTECH World of EduCATION"

print("w" in info)

print("EduTECH" in info)

print("Vishal" not in info)

EduTECH Warje
******************************
False
True
False
True
True

In [38]:
#2.Accessing 

msg = "Enter Your ID"

print(msg[11:12])

print(msg[3])

I
e

In [ ]:
#7.String Function 

#Common Function :  min/max/len/sorted

#Captilize/title/upper/lower/swapcase/count/find/index

#endswith & startswith

#Format

#Split

In [4]:
#Common Function :  min/max/len/sorted

s1 = "Welome To EduTECH"

print(max(s1))
print(min(s1))

print("S1 length  : " , len(s1))

print(sorted(s1))

u

S1 length  :  17
[' ', ' ', 'C', 'E', 'E', 'H', 'T', 'T', 'W', 'd', 'e', 'e', 'l', 'm', 'o', 'o', 'u']

In [16]:
#capitalize/title/upper/lower/swapcase/count/find/index

msg = "we are string with data sets in python"

print(msg.capitalize())
print(msg.title())

print(msg.upper().lower())

msg1 = "We aRe STrtIng WiTH Da"

print(msg1.swapcase())

print(msg.count('x')) #Count function will return Zero if vale not found in String

print(msg.count("data"))

We are string with data sets in python
We Are String With Data Sets In Python
we are string with data sets in python
wE ArE stRTiNG wIth dA
0
1

In [21]:
#find/index

info = "Welcome to EduTECH World of EduCATION"

print("Using index Function :" , info.index('x'))#substring not found
print("Using Find Function :" , info.find('x')) #-1

Using Find Function : -1

In [30]:
#endswith & startswith

info = "Welcome to EduTECH World of EduCATION"

print("did info starting with Welcome ? " , info.startswith('Welcome to'))
print("did info ending with with EduCATION? " , info.endswith('x'))

did info starting with Welcome ?  True
did info ending with with EduCATION?  False

In [35]:
#Format

#option -1
print("Hello {} we are starting with {} welcome to EduTECH".format("Ajay","Data Science"))


#option -2
print("Hello {1} we are starting with {0} welcome to EduTECH".format("Ajay","Data Science"))

#option -3
print("Hello {name} we are starting with {c3} welcome to EduTECH".format(name="Ajay",c1="Data Science",c2="Data Analysis",c3="SAP"))

Hello Ajay we are starting with Data Science welcome to EduTECH
Hello Data Science we are starting with Ajay welcome to EduTECH
Hello Ajay we are starting with SAP welcome to EduTECH

In [46]:
#Split :----> it will return list 

info1 = "Welcome to EduTECH World of EduCATION"


print(info1)
print("Before using split Function Data Type is :" , type(info1))

print()

info2=info1.split()

print(info2)
print("After using split Function Data Type is :" , type(info2))


print("This is Using indexing : " ,info2[-1])

Welcome to EduTECH World of EduCATION
Before using split Function Data Type is : <class 'str'>

['Welcome', 'to', 'EduTECH', 'World', 'of', 'EduCATION']
After using split Function Data Type is : <class 'list'>
This is Using indexing :  EduCATION

In [1]:
info1 = "Welcome to EduTECH World of EduCATION"

print(info1.split('EduTECH'))

print("ViSHal".swapcase())

['Welcome to ', ' World of EduCATION']
vIshAL