In [ ]:
"""
# Tuples
# Create
# Access
# Edit
# Add
# Delete
# Operations
# Functions
"""

In [4]:
# Create

L1 = [1,2,3]

T1 = (1,2,3)

print(type(L1))
print(type(T1))


T2 = () #empty Tuple

T3 = (25,23,21,29,30)
T4 = ("Vishal" , 27 ,65000.45 , "pune")

print("Homogeouns Tuple: " , T3)
print("Hetrogeouns Tuple: " , T4)


#Muld D Tuple:

T5 = (1,2,3,(4,5))

print("Mult D Tuple : " , T5)

<class 'list'>
<class 'tuple'>
Homogeouns Tuple:  (25, 23, 21, 29, 30)
Hetrogeouns Tuple:  ('Vishal', 27, 65000.45, 'pune')
Mult D Tuple :  (1, 2, 3, (4, 5))

In [9]:
# Access

T3 = (25,23,21,29,30)
T4 = ("Vishal" , 27 ,65000.45 , "pune")


print("At index 2 Value is : " , T3[2])

print("Salary of Emp is : " , T4[-2])


T5 = (1, 2, 3, (4, 5))

#     0  1  2     3
#               0  1

print(T5[3][1])

At index 2 Value is :  21
Salary of Emp is :  65000.45
5

In [11]:
# Edit

L1 = [25,23,20,21]

L1[2] = 29

print("This is for List" , L1)

#Tuple & String are Immunatble Data Type

L2 = (25,23,20,21)

L2[2] = 29

print("This is for Tuple" , L2) #'tuple' object does not support item assignment

This is for List [25, 23, 29, 21]

TypeError: 'tuple' object does not support item assignment

In [13]:
T1 = (1,2,3,4)

T1.add(25)

AttributeError: 'tuple' object has no attribute 'add'

In [14]:
# Delete 

T1 = (1,2,3,4)

T1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [16]:
# Operations

T1 = (1,2,3)
T2 = (1,2,3)


print(T1+T2)
print(T1*4)

print(2 in T1)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
True

In [20]:
# Functions:--> max/min/len/sorted

T1 = (1,2,25,31,28,1,2,29,28,31,52,31,25)


print("Max : " , max(T1))
print("Min : " , min(T1))
print("Len : " , len(T1))
print(T1)

print(sorted(T1))
print(sorted(T1,reverse = True))

Max :  52
Min :  1
Len :  13
(1, 2, 25, 31, 28, 1, 2, 29, 28, 31, 52, 31, 25)
[1, 1, 2, 2, 25, 25, 28, 28, 29, 31, 31, 31, 52]
[52, 31, 31, 31, 29, 28, 28, 25, 25, 2, 2, 1, 1]

In [ ]:
"""
Sets:-->

#Create
# Access
# Edit
# Add
# Delete
# Operations
# Functions

--------------------------------

1.sets do not allow duplicates
2.sets have no indexing/slicing
3.sets do not allow mutable data type
4.sets itself is mutable data type


"""

In [27]:
#Create

s1 = {} #<class 'dict'>

print(type(s1))

#empty Set

s2 = set()

print(type(s2))

s3 = {25,21,28,26,30,19,15,18}

print(s3)

s4 = {"Vishal" , 29, 6500.25 , "Pune"}

print(s4)


#1.sets do not allow duplicates

s5 = {1,1,2,2,3,3,4,4}

print(s5)

<class 'dict'>
<class 'set'>
{15, 18, 19, 21, 25, 26, 28, 30}
{'Vishal', 6500.25, 29, 'Pune'}
{1, 2, 3, 4}

In [29]:
#2.sets have no indexing/slicing

s3 = {25,21,28,26,30,19,15,18}

#s3[0] = 29 'set' object does not support item assignment


s3[2] = 21 #'set' object does not support item assignment

TypeError: 'set' object does not support item assignment

In [32]:
#3.sets do not allow mutable data type

s1 ={"Vishal" , (1,2,3)} #"Vishal" :--> Immutable , (1,2,3):--> Immutable

print(s1)


s2 ={"Vishal" , [1,2,3]} # unhashable type: 'list'

{'Vishal', (1, 2, 3)}

TypeError: unhashable type: 'list'

In [36]:
#4.sets itself is mutable data type

s1 = {23,25,21,29,20}

s1.add(10)

print(s1)

# Delete :--> pop / remove / del

s2 = {1,2,3,4,5,6,7,8,9}

s2.pop()

print(s2)

s2.remove(7)

print(s2)

del(s2)

print(s2)#name 's2' is not defined

{20, 21, 23, 25, 10, 29}
{2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 8, 9}

NameError: name 's2' is not defined

In [38]:
#Operations :---> are not supported in Sets

s1 = {1,2,3}
s2 = {1,2,3}

print(s1*3) #unsupported operand type(s) for +: 'set' and 'set'

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [2]:
#Functions : -->  min , max , len , sum

s1 = {12,13,24,1,28,20,63,23,23,20,12,13}


print("Max  : " , max(s1))
print("Min  : " , min(s1))
print("Len  : " , len(s1))

s2 = {1,1,2,2,3,3} #1+1+2+2+3+3 =12

print("Sum of Set value is : " , sum(s2))#1+2+3 = 6

Max  :  63
Min  :  1
Len  :  8
Sum of Set value is :  6

In [7]:
#union / intersection / difference / symmetric_difference

s1 ={1,2,3,4,5}
s2= {4,5,6,7,8}

print(s1.union(s2))

print()

print(s1.intersection(s2))

print()

print(s1.difference(s2))
print(s2.difference(s1))

print()

print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

{4, 5}

{1, 2, 3}
{8, 6, 7}

{1, 2, 3, 6, 7, 8}