In [2]:
print("Hello Everyone Starting with New Data Analysis Batch!!")

Hello Everyone Starting with New Data Analysis Batch!!

In [3]:
print(23+24)

47

In [8]:
#Variable & Comments

age = 27
"""
1.Variable name must start with English Letter or Underscore
2.Variable name Cannot start with Number
3.Variable Name Cannot have Sepecial Chart : $,@
4.Variable Name is Case Senstive


"""

#1.Variable name must start with English Letter or Underscore

age = 27
_age = 23

print(age)
print(_age)

#2.Variable name Cannot start with Number

#1num = 25 #invalid decimal literal

num1 = 25
print(num1)

#3.Variable Name Cannot have Sepecial Chart : $,@,!,%

#$age = 25 # invalid syntax

#4.Variable Name is Case Senstive

NAME = "Vishal"
name = "Dhayagude"

print(NAME)
print(name)

27
23
25
Vishal
Dhayagude

In [14]:
#Data Types : int / float / str / set / dict / tuple / list

#Int :--->

#int age = 27

age = 27.23
marks = 23
emp_id = 1
mobile = 9370746614

#float :--

per = 73
money_dep = 23000.45
avg = 15.25 

#String

student_name = "Vishal Dhayagude"
info = "Welcome to EduTECH.. World of EduCATION.."

#type() :--> Data type Return

print("Data Type of Age :" ,type(age))
print("Data Type of Per :" ,type(per))
print("Data Type of INFO :" ,type(info))

Data Type of Age : <class 'float'>
Data Type of Per : <class 'int'>
Data Type of INFO : <class 'str'>

In [ ]:
#Operators :

"""
1.Arithmatic : + ,-,/,//,**,*%
2.Relational : <,>,<=,>=,==
3.Conditional : and & or
4.Membership 
5.identity



"""

In [20]:
#1.Arithmatic : + ,-,/,//,**,*%

a = 25
b = 23

print("Add of A & B is :" , a+b)
print("Sub of A & B is :" , a-b)
print("Mult of A & B is :" , a*b)
print("Div of A & B is :" , a/b)#float

print("Reminder of A Div by B : " , a%b)
print("Floor Div : " , a//b)#int

print("2's power is 3 : " , 2**6) # 2x2x2x2x2x2 = 8

Add of A & B is : 48
Sub of A & B is : 2
Mult of A & B is : 575
Div of A & B is : 1.0869565217391304
Reminder of A Div by B :  2
Floor Div :  1
2's power is 3 :  64

In [26]:
#2.Relational : <,>,<=,>=,== : True/false

x = 23
y = 20
z = 23

print("X is Gretter Than Y ? :" ,x>y)
print("X is Less Than Y ? :" ,x<y)
print("X is equal to Z :" ,x==z)

X is Gretter Than Y ? : True
X is Less Than Y ? : False
X is equal to Z : True

In [28]:
#input() :---> String Return :--> + :--> Join krt 2 String la

print("Enter Two Number :")

num1 = int( input("Enter 1st Number"))
num2 =  int(input("Enter 2nd Number") )

print("Add of Two Number is :" , (num1+num2)) #23

Enter Two Number :
Enter 1st Number10
Enter 2nd Number13
Add of Two Number is : 23