In [2]:
import pandas as pd

In [3]:
DF = "https://www.moneycontrol.com/financials/tatamotors/consolidated-balance-sheetVI/TM03#TM03"
df = pd.read_html(DF)
df1 = df[0]
df1

df1.to_excel("C:/Users/Admin/Downloads/BalanceSheet.xlsx")
df1

,0,1,2,3,4,5,6
0,Balance Sheet of Tata Motors (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19,NaN
1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN
2,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
3,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,NaN
4,Equity Share Capital,766.02,765.88,765.81,719.54,679.22,NaN
5,Total Share Capital,766.02,765.88,765.81,719.54,679.22,NaN
6,Reserves and Surplus,44553.31,43788.97,54480.91,61491.49,59500.34,NaN
7,Total Reserves and Surplus,44553.31,43788.97,54480.91,61491.49,59500.34,NaN
8,Total Shareholders Funds,45319.33,44554.85,55246.72,63078.53,60179.56,NaN
9,Minority Interest,7277.72,4271.06,1573.49,813.56,523.06,NaN
10,NON-CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
11,Long Term Borrowings,88695.81,97759.17,93112.77,83315.62,70817.50,NaN
12,Deferred Tax Liabilities [Net],1406.95,1558.44,1555.89,1941.87,1491.04,NaN
13,Other Long Term Liabilities,25155.25,18831.32,20280.99,17780.94,16871.09,NaN
14,Long Term Provisions,13196.53,12955.89,13606.76,14736.69,11854.85,NaN
15,Total Non-Current Liabilities,128454.54,131104.82,128556.41,117775.12,101034.48,NaN
16,CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
17,Short Term Borrowings,36964.66,41917.87,21662.79,16362.53,20150.26,NaN
18,Trade Payables,72055.77,59970.38,68179.84,63626.88,68513.53,NaN
19,Other Current Liabilities,34196.24,38028.25,55058.52,50135.60,46596.89,NaN
20,Short Term Provisions,11810.66,10766.31,12848.03,10329.04,10196.75,NaN
21,Total Current Liabilities,155027.33,150682.81,157749.18,140454.05,145457.43,NaN
22,Total Capital And Liabilities,336081.38,330619.93,343125.80,322121.26,307194.53,NaN
23,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN
24,NON-CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN
25,Tangible Assets,84442.47,87586.15,86130.71,84158.17,72619.86,NaN
26,Intangible Assets,46796.69,50462.13,51773.18,42171.91,37866.74,NaN
27,Capital Work-In-Progress,5219.87,3529.04,8377.14,8599.56,8538.17,NaN
28,Fixed Assets,145513.66,148299.37,158867.82,161952.37,142370.44,NaN
29,Non-Current Investments,7540.85,6670.31,5569.09,5446.94,6240.89,NaN
30,Deferred Tax Assets [Net],5184.67,3870.85,4520.35,5457.90,5151.11,NaN
31,Long Term Loans And Advances,870.65,843.35,1204.59,782.78,407.42,NaN
32,Other Non-Current Assets,24602.48,23151.34,25272.59,28116.96,28845.64,NaN
33,Total Non-Current Assets,184552.91,183642.39,196238.16,202534.01,183763.37,NaN
34,CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN
35,Current Investments,18838.31,22709.22,19051.19,10861.54,9529.83,NaN
36,Inventories,40755.39,35240.34,36088.59,37456.88,39013.73,NaN
37,Trade Receivables,15737.97,12442.12,12679.08,11172.69,18996.17,NaN
38,Cash And Cash Equivalents,37015.56,40669.19,46792.46,33726.97,32648.82,NaN
39,Short Term Loans And Advances,2302.84,1671.93,1749.40,935.25,1268.70,NaN
40,OtherCurrentAssets,36878.40,34244.74,30526.92,25433.92,21973.91,NaN
41,Total Current Assets,151528.47,146977.54,146887.64,119587.25,123431.16,NaN
42,Total Assets,336081.38,330619.93,343125.80,322121.26,307194.53,NaN
43,OTHER ADDITIONAL INFORMATION,NaN,NaN,NaN,NaN,NaN,NaN
44,"CONTINGENT LIABILITIES, COMMITMENTS",NaN,NaN,NaN,NaN,NaN,NaN
45,Contingent Liabilities,39477.30,18470.45,17773.75,15590.75,17148.64,NaN
46,BONUS DETAILS,NaN,NaN,NaN,NaN,NaN,NaN
47,Bonus Equity Share Capital,111.29,111.29,111.29,111.29,111.29,NaN
48,NON-CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN,NaN
49,Non-Current Investments Quoted Market Value,1733.69,1345.52,499.39,316.46,726.53,NaN
50,Non-Current Investments Unquoted Book Value,1131.50,975.40,868.91,711.59,770.98,NaN
51,CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN,NaN
52,Current Investments Quoted Market Value,134.45,685.62,0.00,0.00,0.92,NaN
53,Current Investments Unquoted Book Value,18703.86,22023.60,19051.19,10861.54,8937.41,NaN

In [4]:
df1.columns = df1.iloc[0]
df1.drop(df1.index[0],inplace=True)
df1

,Balance Sheet of Tata Motors (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19,NaN
1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN
2,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
3,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,NaN
4,Equity Share Capital,766.02,765.88,765.81,719.54,679.22,NaN
5,Total Share Capital,766.02,765.88,765.81,719.54,679.22,NaN
6,Reserves and Surplus,44553.31,43788.97,54480.91,61491.49,59500.34,NaN
7,Total Reserves and Surplus,44553.31,43788.97,54480.91,61491.49,59500.34,NaN
8,Total Shareholders Funds,45319.33,44554.85,55246.72,63078.53,60179.56,NaN
9,Minority Interest,7277.72,4271.06,1573.49,813.56,523.06,NaN
10,NON-CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
11,Long Term Borrowings,88695.81,97759.17,93112.77,83315.62,70817.50,NaN
12,Deferred Tax Liabilities [Net],1406.95,1558.44,1555.89,1941.87,1491.04,NaN
13,Other Long Term Liabilities,25155.25,18831.32,20280.99,17780.94,16871.09,NaN
14,Long Term Provisions,13196.53,12955.89,13606.76,14736.69,11854.85,NaN
15,Total Non-Current Liabilities,128454.54,131104.82,128556.41,117775.12,101034.48,NaN
16,CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
17,Short Term Borrowings,36964.66,41917.87,21662.79,16362.53,20150.26,NaN
18,Trade Payables,72055.77,59970.38,68179.84,63626.88,68513.53,NaN
19,Other Current Liabilities,34196.24,38028.25,55058.52,50135.60,46596.89,NaN
20,Short Term Provisions,11810.66,10766.31,12848.03,10329.04,10196.75,NaN
21,Total Current Liabilities,155027.33,150682.81,157749.18,140454.05,145457.43,NaN
22,Total Capital And Liabilities,336081.38,330619.93,343125.80,322121.26,307194.53,NaN
23,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN
24,NON-CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN
25,Tangible Assets,84442.47,87586.15,86130.71,84158.17,72619.86,NaN
26,Intangible Assets,46796.69,50462.13,51773.18,42171.91,37866.74,NaN
27,Capital Work-In-Progress,5219.87,3529.04,8377.14,8599.56,8538.17,NaN
28,Fixed Assets,145513.66,148299.37,158867.82,161952.37,142370.44,NaN
29,Non-Current Investments,7540.85,6670.31,5569.09,5446.94,6240.89,NaN
30,Deferred Tax Assets [Net],5184.67,3870.85,4520.35,5457.90,5151.11,NaN
31,Long Term Loans And Advances,870.65,843.35,1204.59,782.78,407.42,NaN
32,Other Non-Current Assets,24602.48,23151.34,25272.59,28116.96,28845.64,NaN
33,Total Non-Current Assets,184552.91,183642.39,196238.16,202534.01,183763.37,NaN
34,CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN,NaN
35,Current Investments,18838.31,22709.22,19051.19,10861.54,9529.83,NaN
36,Inventories,40755.39,35240.34,36088.59,37456.88,39013.73,NaN
37,Trade Receivables,15737.97,12442.12,12679.08,11172.69,18996.17,NaN
38,Cash And Cash Equivalents,37015.56,40669.19,46792.46,33726.97,32648.82,NaN
39,Short Term Loans And Advances,2302.84,1671.93,1749.40,935.25,1268.70,NaN
40,OtherCurrentAssets,36878.40,34244.74,30526.92,25433.92,21973.91,NaN
41,Total Current Assets,151528.47,146977.54,146887.64,119587.25,123431.16,NaN
42,Total Assets,336081.38,330619.93,343125.80,322121.26,307194.53,NaN
43,OTHER ADDITIONAL INFORMATION,NaN,NaN,NaN,NaN,NaN,NaN
44,"CONTINGENT LIABILITIES, COMMITMENTS",NaN,NaN,NaN,NaN,NaN,NaN
45,Contingent Liabilities,39477.30,18470.45,17773.75,15590.75,17148.64,NaN
46,BONUS DETAILS,NaN,NaN,NaN,NaN,NaN,NaN
47,Bonus Equity Share Capital,111.29,111.29,111.29,111.29,111.29,NaN
48,NON-CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN,NaN
49,Non-Current Investments Quoted Market Value,1733.69,1345.52,499.39,316.46,726.53,NaN
50,Non-Current Investments Unquoted Book Value,1131.50,975.40,868.91,711.59,770.98,NaN
51,CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN,NaN
52,Current Investments Quoted Market Value,134.45,685.62,0.00,0.00,0.92,NaN
53,Current Investments Unquoted Book Value,18703.86,22023.60,19051.19,10861.54,8937.41,NaN

In [16]:
rows,columns = df1.shape
print("Number of rows in BalanceSheet :" , rows)
print("Number of columns in BalanceSheet :" , columns)

Number of rows in BalanceSheet : 53
Number of columns in BalanceSheet : 7

In [18]:
type(df1)

pandas.core.frame.DataFrame