In [2]:
import pandas as pd

In [28]:
df = "https://economictimes.indiatimes.com/mahindra-mahindra-ltd/balancesheet/companyid-11898.cms"
df =pd.read_html(df)
df1 = df[0]

In [29]:
df1.iloc[0:51]

,0,1,2,3,4,5
0,BalanceSheet - Mahindra & Mahindra Ltd.,BalanceSheet - Mahindra & Mahindra Ltd.,BalanceSheet - Mahindra & Mahindra Ltd.,BalanceSheet - Mahindra & Mahindra Ltd.,BalanceSheet - Mahindra & Mahindra Ltd.,BalanceSheet - Mahindra & Mahindra Ltd.
1,Rs (in Crores),Rs (in Crores),Rs (in Crores),Rs (in Crores),Rs (in Crores),Rs (in Crores)
2,Particulars,Mar'23,Mar'22,Mar'21,Mar'20,Mar'19
3,Liabilities,12 Months,12 Months,12 Months,12 Months,12 Months
4,Share Capital,859.38,821.76,852.27,861.48,595.80
5,Reserves & Surplus,42497.35,38139.19,33649.65,33606.36,33613.43
6,Net Worth,43356.73,38960.95,34501.92,34467.84,34209.23
7,Secured Loan,4643.73,6489.95,7094.77,2932.03,2480.32
8,Unsecured Loan,.00,.00,.00,.00,.00
9,TOTAL LIABILITIES,48000.46,45450.90,41596.69,37399.87,36689.55
10,Assets,Assets,Assets,Assets,Assets,Assets
11,Gross Block,31896.31,27632.55,20856.52,20000.25,18534.97
12,(-) Acc. Depreciation,14920.11,13083.93,10677.17,9605.66,8453.22
13,Net Block,16976.20,14548.62,10179.35,10394.59,10081.75
14,Capital Work in Progress,2784.62,5018.17,4832.16,4009.46,2419.79
15,Investments,27087.07,25109.81,24065.07,19938.13,22016.03
16,Inventories,8881.35,5882.85,3955.47,3400.91,3839.27
17,Sundry Debtors,4041.73,3035.11,2342.85,2998.98,3946.30
18,Cash and Bank,4481.75,3650.53,6255.42,4236.51,3731.66
19,Loans and Advances,11527.09,9885.17,7958.48,5523.48,6662.26
20,Total Current Assets,28931.92,22453.66,20512.22,16159.88,18179.49
21,Current Liabilities,25965.43,20313.09,16550.21,11583.65,14435.91
22,Provisions,1813.92,1366.27,1441.90,1518.54,1571.60
23,Total Current Liabilities,27779.35,21679.36,17992.11,13102.19,16007.51
24,NET CURRENT ASSETS,1152.57,774.30,2520.11,3057.69,2171.98
25,Misc. Expenses,.00,.00,.00,.00,.00
26,TOTAL ASSETS(A+B+C+D+E),48000.46,45450.90,41596.69,37399.87,36689.55

In [36]:
df['TOTAL ASSETS(A+B+C+D+E)'].plot(kinds= "bar")

TypeError: list indices must be integers or slices, not str