# What is Pandas?

Pandas which is a popular open-source library for data manipulation and analysis. Pandas provides data structures and functions that make it easy to work with structured data, such as tabular data (like spreadsheets) or time series data.

# Data structures in Pandas are

Series:

A one-dimensional labeled array that can hold data of any type.

DataFrame: 

A two-dimensional table with rows and columns, similar to a spreadsheet or a SQL table.



Pandas allows you to read and write data from various file formats, including CSV, Excel, SQL databases, and more. It also provides powerful tools for data cleaning, filtering, grouping, aggregation, and visualization.

# why pandas ?



1.Data Cleaning

2.Data Exploration

3.Data Manipulation

4.Time Series Analysis

5.Integration with Other Libraries

6.Data Import and Export

7.Flexibility and Customization

8.Large Community and Ecosystem

9.Open Source and Free

In [1]:
import pandas as pd

In [5]:
"""
Series:

A one-dimensional labeled array that can hold data of any type.

"""

s=pd.Series([1,2,3] , index = ["Ajay","Anuja","bGovind"])

s

Ajay      1
Anuja     2
Govind    3
dtype: int64

In [7]:
"""
DataFrame: 

A two-dimensional table with rows and columns, similar to a spreadsheet or a SQL table.

"""

b

student_data = {
    "Srno":[1,2,3],
    "Name":["Ajay","Govind","Shital"],
    "City":["Latur","Pune","Mumbai"]
}

df1 = pd.DataFrame(student_data)

df1

   Srno    Name    City
0     1    Ajay   Latur
1     2  Govind    Pune
2     3  Shital  Mumbai

In [9]:
#2.Data Frame Using Tuple

student_Data = [
    (1,"Vishal","Pune"),
    (2,"Ajay","Latur"),
    (3,"Shital","Baramati")
    
]

df2 = pd.DataFrame(data=student_Data,
                  columns = ["Srno","Name","City"])

df2

   Srno    Name      City
0     1  Vishal      Pune
1     2    Ajay     Latur
2     3  Shital  Baramati

In [11]:
#3.Data Frame Using List of Dict

student_Data = [
    {"Srno":1,"Name":"Vishal","City":"Pune"},
     {"Srno":2,"Name":"Shital","City":"Latur"},
     {"Srno":3,"Name":"Ajay","City":"Baramati"}
]

df3 = pd.DataFrame(data=student_Data,
                  columns=["Srno","Name","City"])

df3

   Srno    Name      City
0     1  Vishal      Pune
1     2  Shital     Latur
2     3    Ajay  Baramati

In [17]:
#importing Data Set into Pandas :--> csv/excel/html

#Using excel file
df4 = pd.read_excel("C:/Users/Vishal/Desktop/Data/CarSalesData.xlsx")

In [15]:
#Using csv file

df5 = pd.read_csv("C:/Users/Vishal/Desktop/Data/CarSalesData.csv")

In [23]:
#Multiple excel sheets

xlx = pd.ExcelFile("C:/Users/Vishal/Desktop/Data/CarSalesData.xlsx")

df6 = pd.read_excel(xlx, "Countries")

df7 = pd.read_excel(xlx,"Stock")

In [33]:
#Using Html File

url = "https://www.moneycontrol.com/mutual-funds/best-funds/equity.html"

df8 = pd.read_html(url)

mutalfund = df8[0]

mutalfund.to_csv("C:/Users/Vishal/Desktop/Data/MutalFunds.csv")

mutalfund.to_excel("C:/Users/Vishal/Desktop/Data/MutalFunds.xlsx")