In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.read_excel("C:/Users/Vishal/Desktop/Workshop/CarSales.xlsx")

In [2]:
print("Number of Row & Columns in Data Frame : " , df.shape)

Number of Row & Columns in Data Frame :  (457, 21)

In [3]:
print("Number of Rows in Data Frame : " , df.shape[0])

Number of Rows in Data Frame :  457

In [4]:
print("Number of Column in Data Frame : " , df.shape[1])

Number of Column in Data Frame :  21

In [5]:
df.head(2)

,InvoiceDate,Make,CountryName,IsDealer,SalePrice,CostPrice,TotalDiscount,DeliveryCharge,SpareParts,LaborCost,...,Model,Color,ReportingYear,ReportingMonth,Registration_Date,VehicleType,InvoiceNumber,CountryISOCode,OuterPostode,Region
0,2012-10-04,Rolls Royce,United Kingdom,NaN,95000,50000,500.0,750,500,750,...,Camargue,Red,2012,10,1985-01-08,Saloon,8B3D7F83-F42C-4523-A737-CDCBF7705B77,GBR,ST,East Midlands
1,2012-01-01,Aston Martin,United Kingdom,NaN,120000,75000,0.0,1500,600,550,...,DBS,Blue,2012,1,2007-05-09,Coupe,139BEEEF-FF32-4BE9-9EF1-819AC888B85C,GBR,EC,Greater London Authority

In [31]:
df['CountryName']

0      United Kingdom
1      United Kingdom
2      United Kingdom
3      United Kingdom
4      United Kingdom
            ...
452               USA
453               USA
454               USA
455               USA
456               USA
Name: CountryName, Length: 457, dtype: object

In [9]:
print(df['CountryName'].unique())

['United Kingdom' 'France' 'USA' 'Switzerland' 'Spain' 'Germany']

In [20]:
#Print Number of Car Sale in USA

data = df['CountryName'] == "USA"

print("Number of Car Sale in USA : " , df[data].shape[0])

Number of Car Sale in USA :  166

In [29]:
#print(df['Make'].unique())

In [30]:
data2 = df['Make'] == "Bentley"

df[data2]

Empty DataFrame
Columns: [InvoiceDate, Make, CountryName, IsDealer, SalePrice, CostPrice, TotalDiscount, DeliveryCharge, SpareParts, LaborCost, ClientName, Model, Color, ReportingYear, ReportingMonth, Registration_Date, VehicleType, InvoiceNumber, CountryISOCode, OuterPostode, Region]
Index: []

[0 rows x 21 columns]